.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.showElements {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s ease;
}
